body{
    margin: 10px;
}
p{
    text-align: left;
    font-size: 120%;
}
img{
    width: 1100px;
}
li{
    font-size: 14pt;
}
h1{
    font-size: 20pt;
    color: orange;
}
h2{
    color: orange;
    font-size: 20pt;
}
h3{
    color: orange;
    font-size: 16pt;
}
h4{
    color: orange;
    font-size: 14pt;
}
.abbr-with-img {
    position: relative;
}
.abbr-with-img img {
position: absolute;
top: 100%;
left: 0;
display: none;
width: 200px;
}
.abbr-with-img:hover img {
display: block;
}
.teste {
    color: orange;
}
.teste abc {
    color: orange;
}