body{
    margin: 10px;
}
p{
    text-align: left;
    font-size: 120%;
}
img{
    width: 1100px;
}
li{
    font-size: 14pt;
}
h1{
    font-size: 20pt;
    color: orange;
}
h2{
    color: orange;
    font-size: 20pt;
}
h3{
    color: orange;
    font-size: 16pt;
}
h4{
    color: orange;
    font-size: 14pt;
}
/* Em caso de duvida sobre o funcionamento, comentei */
.abbr-with-img {
    position: relative; 
    /* Permite esse elemento ter elementos filhos */
}
.abbr-with-img img {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    /* Oculta a imagem, até a interação com o cursor */
    width: 200px;
    /* possiciona a imagem embaixo da abreviação (abbr) e muda o tamanho da imagem */
}
.abbr-with-img:hover img {
    display: block;
    /* Mostra a imagem quando ocorre a interação com o cursor*/
}
